<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/about.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <ul class="nav bg-dark nav-dark own-nav">
            <li class="nav-item">
              <a class="nav-link active" href="../index.html">Product App</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">About</a>
            </li>
          </ul>
    </header>
    
</body>
</html>